@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", system-ui;
    text-transform: capitalize;
}

:root{
    --azul: blue;
    --green_msg: #2cfd8e;
    --red_msg: #dc143c;
    --yellow_msg: #ffd857;
    --border: .5px solid #e1e1e1;
}